:root {
  --font3: "Space Grotesk", sans-serif;
  --general-text: #fff;
  --accent-text: #000;
  --line-height: 1.2;
}

body {
  line-height: var(--line-height);
  color: var(--accent-text);
  background: var(--general-text);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}

/* ------------header-------------- */
.header {
  background: url("../img/bg/div_after.png") 30% no-repeat;
  background-color: var(--accent-text);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.header-top_inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-left: auto;
}


.nav__list {
  display: flex;
  align-items: first baseline;
  gap: 25px;
}

.nav_link {
  color: var(--general-text);
  margin-right: 9px;
  font-family: var(--font3);
  font-weight: 700;
  font-size: 11px;
  line-height: v;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  line-height: var(--line-height);
  transition: all .9s;
}

.nav_link:hover {
  color: blue;
}

.nav_link:active {
  color: red;
}

.link {
  font-family: var(--font3);
  text-align: center;
  color: var(--general-text);
  border-radius: 50px;
  background: linear-gradient(57deg, #40db5c 0%, #03c7fd 50%, #40db5c 100%);
  display: inline-block;
  transition: all .4s;
}

.button_link {
  width: 200px;
  height: 59px;
  padding: 15px 39px 16px 38px;
  font-weight: 700;
  font-size: 12px;
  line-height: 227%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

.button_link:hover {
  background: red;
}

.button_link:active {
  background: red;
}

/* --------------section-header---------------- */

.hero-inner {
  margin-top: 125px;
  margin-left: 110px;
  margin-bottom: 200px;
}

.hero-content {
  margin: auto;
  opacity: 5%;
}

.hero__span {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 10px;
  line-height: 272%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  display: flex;
  gap: 38px;
}


.hero__span span {
  color: #fff;
}


.hero__title {
  margin-top: 14px;
}

.hero__title h1 {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 86px;
  line-height: 105%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;

}

.hero__title p {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 86px;
  line-height: 105%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;

}

.zero {
  color: #fff;
}

.bus {
  color: #fff;
}


.hero-bnt h6 {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 12px;
  line-height: 227%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #000;

}

.bnt {
  display: flex;
  background: #fff;
  border-radius: 50px;
  padding: 16px 0px 17px 31px;
  width: 220px;
  height: 61px;
  margin-top: 44px;
  gap: 60px;
  align-items: center;
}

/* ----------------section-text--------------- */

.sec-text {
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 0%, #0a0a0a 50%, rgba(10, 10, 10, 0.9) 75%, rgba(10, 10, 10, 0.95) 100%);
}

.sec-text__inner {
  padding: 245px 0 271px;
  text-align: center;
}

.sec-text__content {}

.sec-what {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.sec-what h5 {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

}

.big-text {
  font-family: var(--font3);
  font-weight: 300;
  font-size: 39px;
  line-height: 123%;
  text-align: center;
  color: #fff;

}

.reg-text {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.text-two {
  font-family: var(--font3);
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #fff;

}

.text-tree {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  width: 50%;
}

/* -------main----------------------- */
.product {
  margin-top: 109px;
}

.product-inner {}

.product-back {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.product-back h6 {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 10px;
  line-height: 110%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.product-text {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.product-text h1 {
  font-family: var(--font3);
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #000;
  width: 56%;
}

.product-text span {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #000;

}

.product-beck {
  display: flex;
  gap: 96px;
  margin-top: 120px;
  margin-bottom: 99px;
  margin-left: 50px;
}


.product-img {
  max-width: 600px;
}

.product-img>img {}

.product-desk {
  padding-top: 141px;
}

.prod-des {
  display: flex;
  gap: 10px;
  align-items: center;
}

.product-desk p {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 14px;
  line-height: 194%;
  color: #5d5d5d;
  padding-left: 41px;
  padding-top: 16px;
  width: 81%;
}

.prod-tit {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 29px;
  line-height: 109%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;

}

.learn-btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 16px 0px 17px 58px;
  width: 200px;
  height: 61px;
  background: #000;
  margin-top: 27px;
  margin-left: 40px;
  margin-bottom: 55px;
}

.learn-btn a {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 12px;
  line-height: 227%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.prod-titl {
  display: grid;
  gap: 34px;
  margin-top: 22px;
}

.prod-titl h2 {
  font-family: var(--font3);
  font-weight: 300;
  font-size: 30px;
  line-height: 105%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
  border-bottom: 1px solid #e9e9e9;
  width: 504px;
  height: 42px;
}

/* -------------------------techno-section--------- */
.techno {
  padding-top: 289px;
  padding-bottom: 280px;
  background: #000;
}

.techno-inner {
  text-align: center;
}

.techno-inner h1 {
  font-family: var(--font3);
  font-weight: 300;
  font-size: 38px;
  line-height: 126%;
  text-align: center;
  color: #fff;
  margin-top: 28px;
}

.techno-inner p {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 38px;
  line-height: 126%;
  text-align: center;
  color: #fff;
}

.techno-sc {
  margin-top: 36px;
}

.techno-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.techno-back {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.techno-back h6 {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

}

.techno-link {
  border-radius: 50px;
  padding: 16px 43px 17px 51px;
  width: 200px;
  height: 61px;
  font-weight: 700;
  font-size: 11px;
  line-height: 247%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.techno-to__btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 16px 33px 17px 36px;
  width: 200px;
  height: 61px;
  font-family: var(--font3);
  font-weight: 700;
  font-size: 11px;
  line-height: 247%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: block;
}

/* ------navig-section------------ */
.navig {
  padding-top: 120px;
  padding-bottom: 90px;
}

.navig_inner {}

.navig-desk {
  padding-top: 126px;
}

.navig-beck {
  display: flex;
  gap: 96px;
  margin-bottom: 99px;
  margin-left: 50px;
}

.navig-desk p {
  font-family: var(--font3);
  font-weight: 300;
  font-size: 36px;
  line-height: 120%;
  color: #000;
  margin-top: 19px;
  width: 78%;
}


.navig-back {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navig-back h6 {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 10px;
  line-height: 110%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #000;

}

.navig-btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 16px 48px 17px 51px;
  width: 200px;
  height: 61px;
  background: #000;
  margin-top: 40px;
}

.navig-btn a {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 11px;
  line-height: 247%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.navig-title {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.navig-title::before,
.navig-title::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #f0f0f0;
}


.navig-title p {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 11px;
  line-height: 125%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;
  color: #262831;
  padding: 0 10px;
  white-space: nowrap;
}

.navig-logos {
  display: flex;
  gap: 51px;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

/* ------group-section------------ */
.group {
  background: url("../img/div.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  */
}

.group__inner {
  padding-top: 242px;
  padding-bottom: 262px;
}


.group-back {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.group-back h6 {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 10px;
  line-height: 110%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

}

.group_title {
  padding-top: 14px;
  font-family: var(--font3);
  font-weight: 300;
  font-size: 89px;
  line-height: 101%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

}

.group_text {
  padding-top: 20px;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 15px;
  line-height: 181%;
  text-align: center;
  color: #fff;
  width: 30%;
  margin: auto;
}

.group-btn {
  margin: auto;
  margin-top: 35px;
  border-radius: 50px;
  padding: 19px 63px 17px 64px;
  width: 200px;
  height: 61px;
  background: #fff;
}

.group-btn a {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 11px;
  line-height: 247%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

/* ------------safe-section------ */
.safe {
  padding-top: 140px;
  padding-bottom: 140px;
  background: #000;
}

.safe-beck {
  display: flex;
  gap: 96px;
  margin-bottom: 99px;
  margin-left: 50px;
}

.safe-desk {
  padding-top: 150px;
  padding-bottom: 150px;
}

.safe-desk p {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 15px;
  line-height: 181%;
  color: #828282;
  width: 70%;
  margin-top: 27px;
}

.safe-des {
  display: flex;
  align-items: center;
  gap: 10px;
}

.safe-des h6 {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #fff;
}

.safe-desp {
  margin-top: 19px;
}

.safe-desp h2 {
  font-family: var(--font3);
  font-weight: 300;
  font-size: 39px;
  line-height: 123%;
  color: #fff;
}

.safe-desp h3 {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 39px;
  line-height: 123%;
  color: #fff;
  margin: 0px;
}

.safe-btn {
  margin-top: 47px;
  border-radius: 50px;
  padding: 16px 45px 17px 58px;
  width: 200px;
  height: 61px;
  background: #fff;
}

.safe-btn a {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 12px;
  line-height: 227%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

/* --------------footer------------- */
.footer {
  padding-top: 160px;
  padding-bottom: 356px;
  /* background: #000; */
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 74px;
}

.footer__col {}

.footer__title {}

.footer__title h2 {
  font-family: var(--font3);
  font-weight: 300;
  font-size: 34px;
  line-height: 127%;
  /* color: #fff; */
}

.footer__title span {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 34px;
  line-height: 127%;
  /* color: #fff; */
}

.footer_link {}

.footer__upp {}

.footer-block {}

.nav_block {}

.footer-list {}

.footer-item {}